body{
    background-color: whitesmoke;
    color:black;
    font-family: poppinsregular;
    max-width: 3000px; 
    margin: 100 auto;
    padding: 20px;
    
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

img{
   
    width: 700px;
}


