@media screen and (max-width: 760px){
    body{
        flex-direction: column;
    }
    #types{
        flex-direction: column;
    }
.sobre {
    display: none;
}
    .card{
        justify-content: center;
        width: 80%;
        height: 70%;
        margin-top: 0px !important;
    }
    .container{
        /* display: block; */
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .subtitulo{
        display: none;
    }

    
}