body {

  background-color: #FF6075;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}

header{
  height: 60px;
  width: 100%;
  background-color: rgba(255,98,117, 0.8);
  color: white;
  display: inline-block;
  
  
}

#title{
   flex-direction: column;
   line-height: 10px;
} 

.subtitulo{
    padding-left: 20px; 
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

.subtitulo:hover{
   color: #FF6075;
   transition: 0.3s all;
}

.subtitulotexto{
   font-size: 17pt;
   padding-top: 10px;
}

.types{
   display: inline-flex;
}

.groupTypes{
   width: fit-content;
   padding-right: 5px;
}

.groupTypesModifiers{
   width: fit-content;
   padding-left: 21px;
   padding-top: 3px;
   text-align: center; 
}

.ModificarTempo {
   border: none;
   background-color:rgba(255,98,117, 0.8);
   color: #fff;
   border-radius: 5px;
   font-weight: bold;
}


#actionPomodoro {
   border: none;
   background-color:rgba(0, 0, 0, 0.712);
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   font-size: 17px;
   font-weight: bold;
   width: 140px;
    height: 45px;
    text-align: center;
}

#actionPomodoro:focus,
#actionPomodoro:active {
 outline: none;
 background-color: #FF6075;
}

#actionShortBreak {
   border: none;
   background-color: rgba(0, 0, 0, 0.712);
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   width: 140px;
    height: 45px;
    text-align: center;
}

#actionShortBreak:focus,
#actionShortBreak:active {
 outline: none;
 background-color: #FF6075;
}

#actionLongBreak {
   border: none;
   background-color: rgba(0, 0, 0, 0.712); 
   color:#fff;
   padding: 10px 20px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   width: 140px;
    height: 45px;
    text-align: center;
}

#actionLongBreak:focus,
#actionLongBreak:active {
 outline: none;
 background-color: #FF6075;
}

#actionButton {
       display: inline-block;
       padding: 10px 20px;
       background-color: #FF6075;
       color: #fff;
       border: none;
       border-radius: 5px;
       text-decoration: none;
       font-weight: bold;
       cursor: pointer;
       font-size: 20px
     }
     
#actionButton:hover {
       background-color: rgba(0, 0, 0, 0.712);
     }

#timer{
   color: #eee; 
   font-size: 50px;
}

.card{
   width: 35%;
   height: 50%;
   width: auto;
   padding: 20px;
   border-radius: 25px;
   background-color: rgba(0, 0, 0, 0.8);
} 


.container {
   background-image: url(./image/timer5.png);
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background-size: cover;
  background-repeat: no-repeat;
   display: flex;
  
   
 }

 .linha{
    background-color: white;
    width: 100%;
   height: 0.3%;

 }

 a{
    color: white;
    text-decoration: none;
 }

 a:hover{
   color: #FF6075;
   transition: 0.3s all;
}

 .sobre {
    color: white;
    font-size: 20px;
    height: 100%;
  
 }

 #rodape{
    background-color: rgb(34, 30, 30);
   color: white;
   padding: 20px;
   font-size: 10px;
 }