body {
  background-image: url(./image/timer3.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}

header{
  height: 60px;
  width: 100%;
  background-color: rgba(92,104,152, 0.8);
  
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  /* padding-right: 80px; */
  /* margin-right: 50px; */
  
}


#title{
   
   flex-direction: column;
   line-height: 10px;
} 

.subtitulo{
    padding-left: 20px; 
    border-radius: 5px;
    background-color: rgba(92,104,152, 0.0);
    /* font-size: 20pt; */
}

.subtitulo:hover{
   background-color: rgba(0, 0, 0, 0.712);
   color: white;
}

.subtitulotexto{
   /* padding: 5px 10px 5px 0px;  */
   /* border-radius: 5px;
   background-color: rgba(92,104,152, 0.0); */
   font-size: 20pt;
}

#actionPomodoro {
   border: none;
   background-color:rgba(0, 0, 0, 0.712);
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   font-size: 20px;

}

#actionPomodoro:focus,
#actionPomodoro:active {
 outline: none;
 background-color: #5c6898;
}

#actionShortBreak {
   border: none;
   background-color: rgba(0, 0, 0, 0.712);
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   font-size: 20px;
}

#actionShortBreak:focus,
#actionShortBreak:active {
 outline: none;
 background-color: #5c6898;
}

#actionLongBreak {
   border: none;
   background-color: rgba(0, 0, 0, 0.712); 
   color:#fff;
   padding: 10px 20px;
   border-radius: 5px;
   font-size: 20px;
}

#actionLongBreak:focus,
#actionLongBreak:active {
 outline: none;
 background-color: #5c6898;
}

#actionButton {
       display: inline-block;
       padding: 10px 20px;
       background-color: #5c6898 ;
       color: #fff;
       border: none;
       border-radius: 5px;
       text-decoration: none;
       font-weight: bold;
       cursor: pointer;
       font-size: 20px
     }
     
#actionButton:hover {
       background-color: rgba(0, 0, 0, 0.712);
     }

#timer{
   color: #eee; 
   font-size: 50px;
}


.card{
   margin-top: 70px;
   width: 35%;
   height: 50%;
   padding: 20px;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.8);
} 


.container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
  
 }

 #rodape{
   color: white;
   text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
   padding: 20px;

 }